<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<br><router-outlet></router-outlet>
<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://thumbs.dreamstime.com/b/vector-illustration-isolated-white-background-login-button-icon-login-icon-button-126998514.jpg" alt=""/>
                        <h3>Welcome</h3>
                        <input type="submit" name="" value="New User" routerLink="/register"/><br/>
                      </div>
                    <div class="col-md-9 register-right">
                            <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Login </h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                       <div class="form-group">
                                            <input type="text" class="form-control" placeholder="User Name *" value="" required="true"/>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password *" value="" required="true" />
                                        </div>
                                        
                                        
                                        <input type="submit" class="btnRegister"  value="Login" (click)="home()"/>
                                    </div>
                                    
                                    </div>
                                    
                                    <div class="col-md-6">
                                      <br><br><br>  
                                        <!-- <input type="submit" class="btnRegister"  value="Transfer Amount"/> -->
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <!-- <h3  class="register-heading">Apply as a Hirer</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="First Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Last Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Email *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" maxlength="10" minlength="10" class="form-control" placeholder="Phone *" value="" />
                                        </div>


                                    </div> -->
                                    <div class="col-md-6">
                                                                           
                            </div>
                        </div>
                    </div>
                </div>

            </div>